* {
  margin: 0;
  padding: 0;
  box-sizing: "border-box";
  border: none;
  outline: none;
}

html, body {

}

body {
  padding-top: 10px;
}

.post {
  background-color: hotpink;
  width: 300px;
  height: 400px;
  margin: 0 10px 10px;
}