{
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "alias": {
          "#src": "./src",
          "#components": "./src/components",
          "#hooks": "./src/utils/hooks",
          "#shared": "./src/components/shared",
          "#containers": "./src/containers",
          "#styles": "./src/styles",
          "#store": "./src/store"
        }
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
