{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "#src": "./src",
          "#components": "./src/components",
          "#hooks": "./src/utils/hooks",
          "#shared": "./src/components/shared",
          "#containers": "./src/containers",
          "#styles": "./src/styles",
          "#store": "./src/store"
        },
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "env": {
    "browser": true
  }
}
